.create-League .card {
    margin: 10px 0;
    font-family: 'Quicksand', sans-serif;
}

.create-League {
    width: 50vw;
}
.create-League .Button {
    width: 100%;
}

.create-league-button {
    width: 100%;
    border: 1px solid #333 !important; /* Add a small border */
    box-shadow: 8px 5px 7px rgba(0, 0, 0, 0.2); /* Add a box shadow */
    transition: all 0.3s ease; /* Smooth transition for hover effect */
    background-color: #fe4a2a !important;
  }
  
  .create-league-button:hover {
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4); /* Increase box shadow on hover */
    cursor: pointer; /* Change cursor to pointer on hover */
  }
  

.create-League .card .input-container select {
    width: 100%; /* adjust as needed */
    /* rest of your styles */
}


.inviteUsers .input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}



.inviteUsers .input {
    width:40vh;

}


.create-League .card-body {
    display: flex;
    flex-direction: column;
    align-items: center; /* Change from flex-start to center */
    flex-wrap: wrap;
    font-family: 'Quicksand', sans-serif;
}





@media (min-width: 992px) {
    .nav-tabs {
        /* Your styles for larger screens here */
        display: flex;
        justify-content: center;
        margin-right: 0; /* Add this line */
        font-family: 'Quicksand', sans-serif;
    }
}

/* Style for smaller screens */
@media (max-width: 991px) {
    .nav-tabs {
        /* Your styles for smaller screens here */
        display: flex;
        flex-direction: row;
        justify-content: center;
        overflow-x: auto;
        margin-right: 0; /* Add this line */
        font-family: 'Quicksand', sans-serif;
    }

    .nav-tabs .nav-item {
        flex: 0 0 auto;
        font-family: 'Quicksand', sans-serif;
    }
}

.customTabs .nav-link {
    background-color: gray; /* non-selected tab color */
  color: white; /* text color */
  font-family: 'Quicksand', sans-serif;
  }

  .customTabs .nav-link.active {
    background-color: #2a454e; /* selected tab color */
    color: white;
    font-family: 'Quicksand', sans-serif;

  }