.edit-league-settings {
    background-color: #2a454e;
    color: white;
}

.league-commissionercard {
    background-color: #2a454e !important;
    color: white !important;
    border-bottom: 2px solid #93abbd !important;
    border-radius: 0% !important;
}

.league-commissionercard .card-title {
    width: 50% !important;
}
.league-commissionercard .card-body {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important; /* This will center the items vertically */
}

.league-commissionercard .card-body .card-text {
    display: flex !important;
    justify-content: space-between !important;
}

.league-commissionercard .card-body .card-text button {
    margin-left: auto !important;
}
