.chat-page {


  }
  
  
.chat-container {
    max-height: 500px; 
    overflow-y: auto;
    font-family: 'Quicksand', sans-serif;
    word-wrap: break-word;
    overflow-wrap: break-word;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* Add a border with the light silver/grey color */
    border: 1px solid #93abbd;
    background-color: #2a454e;
    padding: 5px;
}
  
.chat-card {
    max-width: 100%;
    margin-bottom: 10px; /* Increase the space between messages */
    color: white; /* Set the text color to white for better contrast */
    border: none; /* Remove the border */
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); /* Use a subtler shadow */
    border-radius: 40px !important; /* Increase border radius for a "bubble" effect */
    
    
}
  
.chat-card-image {
    width: 50px;
    height: 50%;
    border-radius: 50%;
    border: 2px solid #93abbd;
}
  
.chat-card-text-container {
    margin-left: 10px;
}
  
.chat-card-text {
    overflow-wrap: break-word;
    word-break: break-all;
    font-family: 'Quicksand', sans-serif;
    font-size: small;
    white-space: pre-wrap;
    hyphens: auto;
    color: #2a454e

}
.chat-card-text .message-user {
    overflow-wrap: break-word;
    word-break: break-all;
    font-family: 'Quicksand', sans-serif;
    font-size: small;
    white-space: pre-wrap;
    hyphens: auto;
    color: #fe4a2a;
}
  
.chat-form {
    /* Add styles for the chat form here */
    padding-top: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.new-message-input {
    resize: none;
    flex-grow: 1; /* New property */
    height: 15%;
    border-radius: 15px 0 0 15px !important; /* Top left and bottom left corners are rounded */
}

  
.send-button {
    border-radius: 0 15px 15px 0 !important; /* Top right and bottom right corners are rounded */
    border:none !important;
    color: white !important;
    cursor: pointer !important;
    /* The lighter orange is just supposed to be an accent or on smaller parts, like the send button */
    background-color: #fe4a2a !important;
}
  
.send-button:hover {
    opacity: 0.8 !important;
}
