.leagueTab {
    display: flex;
    justify-content: center;
  }

.leagueModal{
  max-width: 90%;
  height: 80vh;
}

.leagueModal {
  max-width: 90%;
  height: 80vh;
}

.league-title {
  background-color: #2a454e; /* Replace with your desired color */
  color: white;
  font-family: 'Quicksand', sans-serif;
}

.league-footer {
  background-color: #93abbd; /* Replace with your desired color */
}



/* Modern Button */
.button-modern {
  background-color: #2a454e !important; /* Green background */
  border: none !important; /* Remove borders */
  color: white !important; /* White text */
  padding: 15px 32px !important; /* Some padding */
  text-align: center !important; /* Centered text */
  text-decoration: none !important; /* Remove underline */
  display: inline-block !important;
  font-size: 16px !important;
  margin: 4px 2px !important;
  transition-duration: 0.4s !important; /* Transition effects */
  cursor: pointer !important; /* Pointer/hand icon */
  border-radius: 10px !important; /* Rounded corners */
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1) !important;
  font-family: 'Quicksand', sans-serif;
}

.button-modern:hover {
  background-color: #1f3942 !important; /* White background */
  color: #92aabd !important; /* Black text */
  font-family: 'Quicksand', sans-serif;
}

.customTabs .nav-link {
  background-color: gray; /* non-selected tab color */
color: white; /* text color */
font-family: 'Quicksand', sans-serif;
}

.customTabs .nav-link.active {
  background-color: #2a454e; /* selected tab color */
  color: white;
  font-family: 'Quicksand', sans-serif;

}

.customTabContent {
  /*background-color: #2a454e; /* Replace with your desired color */
  padding: 20px; /* Adjust as needed */
  border-radius: 5px; /* Optional, for rounded corners */
}