.reset-container {
  /* Style for the whole reset password page */
}

.reset-success {
  /* Style for the success message */
}

.reset-form-container {
  /* Style for the form container */
}

.reset-inputs {
  /* Style for the inputs */
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.reset-inputs input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #93abbd;
}

.reset-button {
  /* Style for the reset button */
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  color: white;
  cursor: pointer;
  background-color: #fe4a2a;
}

button:hover {
  opacity: 0.8;
  background-color: #ca2f1a;
}