.App {
  text-align: center;
  font-family: 'Quicksand', sans-serif;
}
body {
  padding: 0%;
  margin: 0%;
  font-family: 'Quicksand', sans-serif;
}

nav {
  margin: 0;
  width: 100%;
  height: 100px;
  background-color: #2a454e;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-decoration: none;
  position: relative; /* Make the navigation relative by default */
  top: 0;
  z-index: 100; /* Ensure it's above other content */
  font-family: 'Quicksand', sans-serif;
}

@media (max-width: 768px) {
  nav {
    position: sticky; /* Make the navigation sticky for devices with a width of 768px or less */
    font-family: 'Quicksand', sans-serif;
  }
}

a {
  color: white;
  text-decoration: none;
  margin: 10px;
  font-size: 25px;
  font-family: 'Quicksand', sans-serif;
}

/* Media query for smaller screens (e.g., mobile devices) */
@media (max-width: 768px) {
  nav {
    padding: 0; /* Remove padding */
    font-family: 'Quicksand', sans-serif;
  }
  a {
    margin: 5px 0; /* Reduce vertical spacing */
    font-size: 16px; /* Decrease font size for mobile */
    font-family: 'Quicksand', sans-serif;
  }
}

.logo {
  width: auto; /* This will maintain the aspect ratio */
  height: 100%; /* This will make the image's height match the nav bar's height */
  position: absolute;
  left: 0;
}

/* Main content area */
.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.welcome-message {
  text-align: center;
  font-family: 'Quicksand', sans-serif;
}

.horizontal-divider {
  width: 100%;
  height: 1px;
  background-color: #000; /* or any color you want */
}

.content-area {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

/* Invite Cards Container */
.invite-cards {
  width: 100%;
  padding-right: 10px;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* League Cards Container */
.league-cards {
  width: 100%;
  padding-right: 10px;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: wrap;
  flex-wrap: wrap;
}

/* Individual League Card */
.league-card {
  width: calc(50% - 10px) !important;
  margin-bottom: 20px !important;
  border: 2px solid #96aabb !important; /* Adjust as needed */
  box-shadow:  8px 8px 0 rgba(0, 0, 0, 0.2) !important; /* This adds a shadow */
  background-color:#cbd8e7 !important;
}

/* Individual Invite Card */
.invite-card {
  width: calc(50% - 10px) !important;
  margin-bottom: 20px !important;
  border: 2px solid #96aabb !important; /* Adjust as needed */
  box-shadow: -8px 8px 0 rgba(0, 0, 0, 0.2) !important; /* This adds a shadow to the top and left */
  background-color:#cbd8e7 !important;
}



.button-accept {
  background-color: #2a454e !important; /* Green background */
  border: none !important; /* Remove borders */
  color: white !important; /* White text */
  padding: 15px 32px !important; /* Some padding */
  text-align: center !important; /* Centered text */
  text-decoration: none !important; /* Remove underline */
  display: inline-block !important;
  font-size: 12px !important;
  margin: 4px 2px !important;
  transition-duration: 0.4s !important; /* Transition effects */
  cursor: pointer !important; /* Pointer/hand icon */
  border-radius: 10px !important; /* Rounded corners */
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1) !important;
  font-family: 'Quicksand', sans-serif;
}

.button-accept:hover {
  background-color: #1f3942 !important; /* White background */
  color: #92aabd !important; /* Black text */
  font-family: 'Quicksand', sans-serif;
}

.button-decline {
  background-color: #d13223 !important; /* Green background */
  border: none !important; /* Remove borders */
  color: white !important; /* White text */
  padding: 15px 32px !important; /* Some padding */
  text-align: center !important; /* Centered text */
  text-decoration: none !important; /* Remove underline */
  display: inline-block !important;
  font-size: 12px !important;
  margin: 4px 2px !important;
  transition-duration: 0.4s !important; /* Transition effects */
  cursor: pointer !important; /* Pointer/hand icon */
  border-radius: 10px !important; /* Rounded corners */
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1) !important;
  font-family: 'Quicksand', sans-serif;
}

.button-decline:hover {
  background-color: #d13223 !important; /* White background */
  color: #92aabd !important; /* Black text */
  font-family: 'Quicksand', sans-serif;
}

.invite-league-button {
  width: 100%;
  border: 1px solid #333 !important; /* Add a small border */
  box-shadow: 8px 5px 7px rgba(0, 0, 0, 0.2); /* Add a box shadow */
  transition: all 0.3s ease; /* Smooth transition for hover effect */
  background-color: #fe4a2a !important;
}
.invite-league-button:disabled {
  opacity: 1 !important;
}

.login-button {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  background-color: #fe4a2a !important ;
  border: none !important;
}

.login-button:hover {
  background-color: #d13223 !important; /* White background */
  color: #92aabd !important; /* Black text */
  font-family: 'Quicksand', sans-serif;
}

.league-cards .modal-content {
  border: none;
  border-radius: 20px;
}

